<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <%= stylesheet_link_tag "landing.css.scss" %>
</head>
<header>
  <nav>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><hr></li>
      <li><a href="/signUp">Sign Up</a></li>
    </ul>
  </nav>
  <div id="logo">
    <img src="/assets/logo.png">
  </div>
</header>
<body>
<div id="signupFree">
  <button onclick="window.location.href='/signUp'">Sign Up It's Free!</button>
</div>
<p id="IT">Invitation Tracker</p>
<article id="inviteTracker">
  <div class="feature">
    <p class="title">Create your own invitations</p>
    <img src="/assets/fakeCreateInvite.jpg">
    <p class="desc">Using our templates you can upload your own photos, click and drag objects, and write your own words.</p>
  </div>
  <div class="feature">
    <p class="title">Keep track of your guest list</p>
    <img src="/assets/fakeGuestList.PNG">
    <p class="desc">Always have a list of people you want to invite. Electronically send an invitation to them via email and or text. The guest can answer right away if they will be coming or not.</p>
  </div>
</article>
<section id="budTrack">
  <p id="b">Budget Tracking</p>
  <article id="budget">
    <div class="b_feature">
      <p class="b_title">Set an allowance</p>
      <img src="/assets/allowanceMaybe.jpg">
    </div>
    <div class="b_feature">
      <p class="b_title">Track what you are spending</p>
      <img src="/assets/fakeBudget.jpg">
    </div>
  </article>
</section>
<section id="check">
  <p id="cl">CheckList</p>
  <section id="checklist">
    <div class="cl_feature">
      <p class="cl_title">Always know what you have and what you still need</p>
      <img src="../../assets/checklist.PNG">
    </div>
    <div class="cl_feature2">
      <p class="cl_title">Create alerts for items that have a deadline</p>
      <img src="/assets/textAlert.png">
      <img src="/assets/emailAlert.png">
      <img src="/assets/callAlert.png">
    </div>
  </section>
</section>
<section id="ideaFolder">
  <!--<p id="if">Idea Folder</p>-->
  <!--<img src="../images/ideaFolder.png">-->
  <!--<p>Add images from the web or upload your own to this folder to keep track of all you ideas</p>-->
  <p class="if">Idea Folder</p>
  <article id="ideas">
    <div class="if_feature">
      <p class="if_title">Keep all your ideas together</p>
      <img src="/assets/ideaFolder.png">
      <p class="if_desc">Add images from the web or upload your own to this folder to keep track of all you ideas</p>
    </div>
  </article>
</section>
<section id="vendors">
  <p id="v">Vendors</p>
  <article id="ven">
    <div class="v_feature">
      <p class="v_title">We'll you find what you need</p>
      <img src="/assets/vendors.jpg">
      <p class="v_desc">There are a lot of different vendors you will need and we will help you find them</p>
    </div>
  </article>
</section>
<section id="looking">
  <p>Looking for a couple? <a href="/findCouple">FIND THEM HERE</a></p>
</section>
</body>
<footer>
  <p id="congrats">Congratulations!</p>
  <p>Copyright &#169; 2016 Your Day Your Way&#8482; <a href="https://30865de19d880682c894f6235a5a1ba7199f7435-www.googledrive.com/host/0B85v5S0Z9FqXcEE0TVhyN0Q5dnM/">Tracie Wamsley</a> All Rights Reserved Images from <a href="www.flickr.com">Flickr</a></p>
</footer>
</html>