<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "signing.css.scss" %>
</head>
<body id="sign">
<section id="signup">
  <p id="title">Congratulations!</p>
  <div>
    <input type="text" placeholder="Your Name (first and last)"> <br>
    <input type="text" placeholder="Your Fiancee's Name (first and last)"> <br>
    <input type="text" placeholder="Date of Wedding (mm/dd/yyyy)"> <br>
    <input type="text" placeholder="Email"> <br>
    <input type="text" placeholder="Password"> <br>
    <input type="text" placeholder="Confirm Password"> <br>
  </div>
  <a id="start" href="/home">Sign Up</a>
  <p>Already a member? <a href="/login">Login</a></p>
</section>
</body>
</html>