@font-face {
  font-family: AlexBrush;
  src: url(AlexBrush-Regular.ttf);
}

@font-face {
  font-family: Didact;
  src: url(DidactGothic.ttf);
}

#logout {
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-top: -80px;
  margin-right: 15px;
}

#logout a {
  font-family: AlexBrush;
  font-size: 40px;
  text-decoration: none;
  color: #B687C9;
}

#logout a:hover {
  color: #D49EEB;
}

#logo {
  height: 100px;
}

#message {
  margin-top: -40px;
  text-align: center;
  font-family: AlexBrush;
  color: #f283a5;
  font-size: 50px;
  letter-spacing: 2px;
}

#active a {
  color: #fbbcca;
}

nav {
  height: 50px;
  margin-top: -10px;
  background-color: #75879f;
  margin-left: -8px;
  margin-right: -8px;
}

nav ul {
  font-family: Didact;
  padding-top: 10px;
}

nav ul li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
}

nav a {
  font-family: Didact;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fbbcca;
}

ul#menu ul{
  position:absolute;
  display:none;
  padding:10px 0;
}

ul#menu li:hover ul{
  display:block;
  left:0;
  background-color: #fbbcca;
  border-radius: 14px;
}

ul#menu li:hover ul li{
  display:block;
  left:0;
}

ul#menu ul li a{
  color: #fff;
}

ul#menu ul li a:hover{
  color: #9871a8;
}

footer {
  background-color: #7587a1;
  margin: 0px -8px 0px -8px;
  overflow: hidden;
  height: 150px;
  text-align: right;
}

footer p {
  padding-right: 20px;
  margin-top: -230px;
  font-family: Didact;
  color: #fbbcca;
}

footer a {
  text-decoration: none;
  color: #fbbcca;
}

footer a:hover {
  color: #fff;
}

#congrats {
  text-align: left;
  margin-left: 135px;
  font-family: AlexBrush;
  font-size: 100px;
  margin-top: 20px;
  color: #fbbcca;
  letter-spacing: 5px;
}

#guest_list {
  width: 1200px;
  text-align: center;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fce8ee;
  min-height: 620px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 1160px;
  font-family: Didact;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

td {
  height: 50px;
  font-size: 20px;
  border: 2px solid #fff;
}

tr:nth-child(even){background-color: #e4cef4}

th {
  background-color: #9871a8;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

input[type='text'] {
  color: #9871a8;
  width:400px;
  margin-bottom: 60px;
  height: 25px;
  font-family: Didact;
  font-size: 24px;
}

input[type='submit'] {
  font-size: 25px;
  background-color: #7587a1;
  color: #fff;
  border-radius: 20px;
  padding: 8px 15px 8px 15px;
  margin-bottom: 30px;
}

input[type='submit']:hover {
  background-color: #496787;
}

#guest_list a {
  font-family: Didact;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  width: 150px;
  padding: 5px 13px 5px 13px;
  background-color: #7587a1;
  border-radius: 20px;
}

#add {
  width: 150px;
  padding: 10px;
  margin: 20px 15px 50px auto;
  background-color: #7587a1;
  border-radius: 20px;
}

#add:hover, #guest_list a:hover {
  background-color: #53667c;
}

//#email_all {
//  width: 230px;
//  padding: 10px;
//  margin: 20px 15px 50px auto;
//  border-radius: 20px;
//}

#send {
  width: 168px;
}

select {
  color: #9871a8;
  width:400px;
  margin-bottom: 60px;
  height: 25px;
  font-family: Didact;
  font-size: 24px;
  height: 100%;
}

#new {
  width: 1200px;
  text-align: center;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fce8ee;
  min-height: 620px;
}

#new input[type='text'] {
  width: 550px;
}

#new a {
  font-family: Didact;
  text-decoration: none;
  font-size: 18px;
  color: #420f55;
}

#new a:hover {
  color: #9871a8;
}

#coming_soon {
  width: 1200px;
  text-align: center;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fce8ee;
  height: 620px;
}

#coming_soon p {
  font-family: AlexBrush;
  font-size: 70px;
  color: #7587a1;
}





























