@font-face {
  font-family: AlexBrush;
  src: url(AlexBrush-Regular.ttf);
}

@font-face {
  font-family: Didact;
  src: url(DidactGothic.ttf);
}

#logout {
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-top: -80px;
  margin-right: 15px;
}

#logout a {
  font-family: AlexBrush;
  font-size: 40px;
  text-decoration: none;
  color: #B687C9;
}

#logout a:hover {
  color: #D49EEB;
}

#logo {
  height: 100px;
}

#message {
  margin-top: -40px;
  text-align: center;
  font-family: AlexBrush;
  color: #f283a5;
  font-size: 50px;
  letter-spacing: 2px;
}

#active a {
  color: #fbbcca;
}

nav {
  height: 50px;
  margin-top: -10px;
  background-color: #75879f;
  margin-left: -8px;
  margin-right: -8px;
}

nav ul {
  font-family: Didact;
  padding-top: 10px;
}

nav ul li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
}

nav a {
  font-family: Didact;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fbbcca;
}

ul#menu ul{
  position:absolute;
  display:none;
  padding:10px 0;
}

ul#menu li:hover ul{
  display:block;
  left:0;
  background-color: #fbbcca;
  border-radius: 14px;
}

ul#menu li:hover ul li{
  display:block;
  left:0;
}

ul#menu ul li a:hover{
  color: #9871a8;
}

#countdown {
  background-image: url("croppedWhiteBlueRing.jpg");
  height: 550px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px -8px 0px -8px;
  overflow: hidden;
}

#countdown p {
  font-family: AlexBrush;
  font-size: 70px;
  color: #9871a8;
}

#time {
  width: 900px;
  text-align: center;
  margin-left: 100px;
  margin-right: auto;
}

#time a {
  font-family: Didact;
  color: #7587a1;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

#time a:hover {
  color: #f283a5;
}

#info {
  background-color: #fce8ee;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#info a {
  text-decoration: none;
  background-color: #7587a1;
  color: #fbbcca;
  border-radius: 14px;
  padding: 15px;
  font-weight: bold;

}

#info a:hover {
  background-color: #f283a5;
  color: #fff;

}

#info div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  width: 600px;
  text-align: center;
}

#info .title {
  font-family: AlexBrush;
  font-size: 50px;
  color: #7587a1;
}

#info ul {
  margin-left: 100px;
  margin-top: -50px;
  margin-bottom: 50px;
  text-align: left;
}

#info ul li {
  font-family: Didact;
  color: #7587a1;
}

footer {
  background-color: #7587a1;
  margin: 0px -8px 0px -8px;
  overflow: hidden;
  height: 150px;
  text-align: right;
}

footer p {
  padding-right: 20px;
  margin-top: -230px;
  font-family: Didact;
  color: #fbbcca;
}

footer a {
  text-decoration: none;
  color: #fbbcca;
}

footer a:hover {
  color: #fff;
}

#congrats {
  text-align: left;
  margin-left: 135px;
  font-family: AlexBrush;
  font-size: 100px;
  margin-top: 20px;
  color: #fbbcca;
  letter-spacing: 5px;
}

#edit {
  height: 550px;
  width: 1200px;
  text-align: center;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fce8ee;
}

input[type='text'] {
  color: #9871a8;
  width:400px;
  margin-bottom: 60px;
  height: 25px;
  font-family: Didact;
  font-size: 24px;
}

input[type='submit'] {
  font-size: 25px;
  background-color: #7587a1;
  color: #fff;
  border-radius: 20px;
  padding: 8px 15px 8px 15px;
  margin-bottom: 30px;
}

input[type='submit']:hover {
  background-color: #496787;
}

#edit a {
  font-family: Didact;
  text-decoration: none;
  font-size: 20px;
  color: #420f55;
}

#edit a:hover {
  color: #9871a8;

}





























