@font-face {
  font-family: AlexBrush;
  src: url(AlexBrush-Regular.ttf);
}

@font-face {
  font-family: Didact;
  src: url(DidactGothic.ttf);
}

#logout {
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-top: -80px;
  margin-right: 15px;
}

#logout a {
  font-family: AlexBrush;
  font-size: 40px;
  text-decoration: none;
  color: #B687C9;
}

#logout a:hover {
  color: #D49EEB;
}

#logo {
  height: 100px;
}

#message {
  margin-top: -40px;
  text-align: center;
  font-family: AlexBrush;
  color: #f283a5;
  font-size: 50px;
  letter-spacing: 2px;
}

#active a {
  color: #fbbcca;
}

nav {
  height: 50px;
  margin-top: -10px;
  background: linear-gradient(#75879f, #496787);
  margin-left: -8px;
  margin-right: -8px;
}

nav ul {
  font-family: Didact;
  padding-top: 10px;
}

nav ul li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
}

nav a {
  font-family: Didact;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fbbcca;
}

nav #menu {
  width: 1060px;
  margin-left: auto;
}

ul#menu ul{
  position:absolute;
  display:none;
  padding:10px 0;
  box-shadow: 5px 6px 10px #999;
  z-index: 50;
}

ul#menu li:hover ul{
  display:block;
  left:0;
  background-color: #fbbcca;
  border-radius: 14px;
}

ul#menu li:hover ul li{
  display:block;
  left:0;
}

ul#menu ul li a{
  color: #fff;
}

ul#menu ul li a:hover{
  color: #9871a8;
}

footer {
  background: linear-gradient(#75879f, #496787);
  margin: 0px -8px 0px -8px;
  overflow: hidden;
  height: 100px;
  text-align: right;
  clear: left;
}

footer p {
  padding-right: 20px;
  margin-top: -180px;
  font-family: Didact;
  color: #fbbcca;
}

footer a {
  text-decoration: none;
  color: #fbbcca;
}

footer a:hover {
  color: #fff;
}

#congrats {
  text-align: left;
  margin-left: 135px;
  font-family: AlexBrush;
  font-size: 80px;
  margin-top: 5px;
  color: #fbbcca;
  letter-spacing: 5px;
}

//seating css

#seating {
  width: 1800px;
  margin-left: auto;
  margin-top: 15px;
}

#scrollable {
  width: 1208px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#fff, #fce8ee);
  float: left;
  position: relative;
}

#scrollable canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#guest_list {
  min-width: 250px;
  background-color: #7587a1;
  float: left;
  text-align: center;
}

#guest_list p {
  margin-top: 10px;
  font-family: AlexBrush;
  font-size: 45px;
  color: #fff;
  letter-spacing: 3px;
}

#guest {
  margin-top: -30px;
  padding-bottom: 20px;
}

#guest ul {
  list-style-type: none;
}

#guest li {
  font-family: Didact;
  font-size: 18px;
  color: #fff;
  background-color: #B687C9;
  width: 150px;
  border-radius: 14px;
  padding: 5px;
}

#guest li:hover {
  background-color: #9871a8;
  cursor: pointer;
}

#hint {
  margin-top: -55px;
  font-family: Didact;
  font-size: 15px;
  padding-bottom: 30px;
  color: #fff;
}

#sizer {
  height: 50px;
  margin-top: -20px;
  //background-color: #e4cef4;
  background: linear-gradient(#9871a8, #B687C9, #9871a8);
  box-shadow: 0px 5px 10px #999;
  margin-left: -8px;
  margin-right: -8px;
  text-align: center;
}

#sizer p {
  padding: 10px;
  font-family: Didact;
  //color: #420f55;
  color: #fff;
  font-size: 20px;
  width: 850px;
  margin-right: auto;
  margin-left: auto;
}

input[type='number'] {
  color: #9871a8;
  width:100px;
  margin-bottom: 60px;
  font-size: 18px;
  font-family: Didact;
  text-align: center;
}

//canvas {
//  margin-left: auto;
//  margin-right: auto;
//}

#tools {
  min-width: 250px;
  max-width: 250px;
  background-color: #7587a1;
  text-align: center;
  float: left;
}

#tools p {
  margin-top: 10px;
  font-family: AlexBrush;
  font-size: 45px;
  color: #fff;
  letter-spacing: 3px;
}

#create_table {
  margin-top: -30px;
  padding-bottom: 20px;
}

button[type='submit'] {
  font-size: 25px;
  background-color: #B687C9;
  color: #fff;
  border-radius: 20px;
  padding: 8px 15px 8px 15px;
  margin-bottom: 30px;
}

button[type='submit']:hover {
  background-color: #9871a8;
  cursor: pointer;
}

#tables{
  //margin-top: -500px;
}

#add {
  width: 150px;
  padding: 5px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #B687C9;
  box-shadow: 0px 5px 10px #000;
}

#add:hover {
  background-color: #9871a8;
}

#add a {
  text-decoration: none;
  font-family: Didact;
  color: #FFF;
  font-size: 23px;
}












