<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <%= stylesheet_link_tag "home.css.scss" %>
  <%= javascript_include_tag 'countdown.js' %>
</head>
<header>
  <a href="/home"><img id="logo" src="../../assets/logo2.png"></a>
  <% if @log == true %>
    <div id="logout">
      <a href="/">Log out</a>
    </div>
  <% end %>
  <h1 id="message"><%= @message %></h1>
  <nav>
    <% if @log == true %>
        <ul id="menu">
          <li id="active"><a href="/home">Home</a></li>
          <li><a href="/vendors">Vendors</a>
            <ul class="submenu">
              <li><a href="">DJ</a></li>
              <li><a href="">Officiants</a></li>
              <li><a href="">Transportation</a></li>
              <li><a href="">Catering</a></li>
              <li><a href="">Decorations</a></li>
              <li><a href="">Flowers</a></li>
              <li><a href="">Photography/Videography</a></li>
              <li><a href="">Venue</a></li>
            </ul>
          </li>
          <li><a href="/budget">Budget</a></li>
          <li><a href="/invite">Invitation Tracker</a>
            <ul class="submenu">
              <li><a href="/invite">Guest List</a></li>
              <li><a href="/createInvites">Create Invites</a></li>
            </ul>
          </li>
          <li><a href="/registry">Registry</a></li>
          <li><a href="/color">Important Dates</a>
          <li><a href="/seating">Seating</a></li>
          <li><a href="/attire">Attire</a>
            <ul class="submenu">
              <li><a href="">Bride</a></li>
              <li><a href="">Bridesmaids</a></li>
              <li><a href="">Groom</a></li>
              <li><a href="">Groomsmen</a></li>
              <li><a href="">Accessories</a></li>
            </ul>
          </li>
        </ul>
    <% end %>
  </nav>
</header>
<body>
<script>
  function CountDownTimer(dt, id)
  {
    var end = new Date(dt);

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
      var now = new Date();
      var distance = end - now;
      if (distance < 0) {

        clearInterval(timer);
        document.getElementById(id).innerHTML = 'Congratulations!!!';
        document.getElementById('till').innerHTML = 'Today is your special day';

        return;
      }
      var days = Math.floor(distance / _day);
      var hours = Math.floor((distance % _day) / _hour);
      var minutes = Math.floor((distance % _hour) / _minute);
      var seconds = Math.floor((distance % _minute) / _second);

      document.getElementById(id).innerHTML = days + ' Days&nbsp; ';
      document.getElementById(id).innerHTML += hours + ' Hours&nbsp; ';
      document.getElementById(id).innerHTML += minutes + ' Minutes ';
      document.getElementById('till').innerHTML = 'Till The Special Day';
    }

    timer = setInterval(showRemaining, 1000);
  }

  CountDownTimer('<%= @date %>', 'time_till');

</script>
<section id="countdown">
  <div id="time">
    <% if @log == true %>
      <p id="time_till"></p>
      <p id="till"></p>
      <a href="/editCountdown">Edit</a>
    <% end %>
  </div>
</section>
<section id="info">
  <div>
    <p class="title">Registries:</p>
    <ul>
      <li>MACY'S</li>
      <li>WALMART</li>
      <li>HOME DEPOT</li>
    </ul>
    <a href="">+ Add To Registries</a>
  </div>
</section>
</body>
<footer>
  <p id="congrats">Congratulations!</p>
  <p>Copyright &#169; 2016 Your Day Your Way&#8482; by <a target="_blank" href="https://www.linkedin.com/in/tracie-wamsley-a0435b107">Tracie Wamsley</a> All Rights Reserved Images from <a href="www.flickr.com">Flickr</a></p>
</footer>
</html>