<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <%= stylesheet_link_tag "home.css.scss" %>
  <%= javascript_include_tag 'countdown.js' %>
</head>
<header>
  <a href="/home"><img id="logo" src="../../assets/logo2.png"></a>
  <% if @log == true %>
    <div id="logout">
      <a href="/">Log out</a>
    </div>
  <% end %>
  <h1 id="message"><%= @message %></h1>
  <nav>
    <% if @log == true %>
        <ul>
          <li id="active"><a href="/home">Home</a></li>
          <li><a href="/vendors">Vendors</a></li>
          <li><a href="/budget">Budget</a></li>
          <li><a href="/checklist">Checklist</a></li>
          <li><a href="/invite">Invitation Tracker</a></li>
          <li><a href="/ideaFolder">Idea Folder</a></li>
          <li><a href="/registry">Registry</a></li>
          <li><a href="/color">Color Schemes</a></li>
          <li><a href="/examples">Examples</a></li>
          <li><a href="/seating">Seating</a></li>
          <li><a href="/attire">Attire</a></li>
          <li><a href="/themes">Themes</a></li>
          <li><a href="/songs">Songs</a></li>
          <li><a href="/editCountdown">Edit Countdown</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
    <% end %>
  </nav>
</header>
<body>
<script>
  function CountDownTimer(dt, id)
  {
    var end = new Date(dt);

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
      var now = new Date();
      var distance = end - now;
      if (distance < 0) {

        clearInterval(timer);
        document.getElementById(id).innerHTML = 'Congratulations!!!';
        document.getElementById('till').innerHTML = 'Today is your special day';

        return;
      }
      var days = Math.floor(distance / _day);
      var hours = Math.floor((distance % _day) / _hour);
      var minutes = Math.floor((distance % _hour) / _minute);
      var seconds = Math.floor((distance % _minute) / _second);

      document.getElementById(id).innerHTML = days + 'Days&nbsp; ';
      document.getElementById(id).innerHTML += hours + 'Hours&nbsp; ';
      document.getElementById(id).innerHTML += minutes + 'Minutes ';
      document.getElementById('till').innerHTML = 'Till The Special Day';
    }

    timer = setInterval(showRemaining, 1000);
  }

  CountDownTimer('<%= @date %>', 'time_till');

</script>
<section id="countdown">
  <div id="time">
    <% if @log == true %>
      <p id="time_till"></p>
      <!--<p>009 Days&nbsp; 16 Hours&nbsp; 37 Minutes</p>-->
      <p id="till"></p>
      <a href="/editCountdown">Edit</a>
    <% end %>
  </div>
</section>
<section id="info">
  <div>
    <p class="title">Registries:</p>
    <ul>
      <li>MACY'S</li>
      <li>WALMART</li>
      <li>HOME DEPOT</li>
    </ul>
    <a href="">+ Add To Registries</a>
  </div>
  <div>
    <p class="title">Important Dates:</p>
    <ul>
      <li>1/16/16: FITTING FOR DRESS</li>
      <li>3/21/16: LAST PAYMENT FOR DRESS DUE</li>
      <li>6/09/16: REHEARSAL DINNER</li>
    </ul>
    <a href="">+ Add To Important Dates</a>
  </div>
  <div>
    <p class="title">Locations:</p>
    <ul>
      <li>REHEARSAL DINNER: 143 SOUTH MAIN STREET</li>
      <li>CEREMONY: 3485 WEST 3561 SOUTH</li>
      <li>RECEPTION: GO HOME</li>
    </ul>
    <a href="">+ Add To Locations</a>
  </div>
</section>
</body>
<footer>
  <p id="congrats">Congratulations!</p>
  <p>Copyright &#169; 2016 Your Day Your Way&#8482; by <a href="https://30865de19d880682c894f6235a5a1ba7199f7435-www.googledrive.com/host/0B85v5S0Z9FqXcEE0TVhyN0Q5dnM/">Tracie Wamsley</a> All Rights Reserved Images from <a href="www.flickr.com">Flickr</a></p>
</footer>
</html>