<!DOCTYPE html>
<html>
<head>
  <title>RSVP</title>
  <%= stylesheet_link_tag "home.css.scss" %>
</head>
<body id="rsvp">
<section id="change_status">
  <img id="guest_logo" src="../../assets/logo2.png">
  <h2>Thank you for R.S.V.P.ing!</h2>
</section>
</body>
</html>